.testimonial-container {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: azure;
    box-shadow: 0 3px 13px 1 px rgb(0, 0, 0 / 9%);
}

.text-testimonial-container{
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400px;
    line-height: 1.5rem;
}

.testimonial-name{
    font-size: 1.3rem;
}

.testimonial-position{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.testimonial-text{
    font-size: 1.1rem;
    text-align: justify;
}
